body {
  background-image: url("./en\ switch\ och\ fiberkontakter.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 2em;
  padding: 3em;
  margin: 5cm;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  flex: 1;
}

h1 {
  color: red;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

input,
select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

p#result {
  margin-top: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: relative;
  bottom: 0;
}
.info {
  font-size: 14;
  font-weight: lighter;
}
@media (min-width: 600px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 700px;
  }
}
